In [13]:
import pandas as pd

### Testing subset

In [14]:
df = pd.read_csv('Logs/testing/3D_U_net_t1ce_t2_t1.log')
df = df[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df = pd.DataFrame(df.mean().to_dict(),index=[df.index.values[-1]])
df.insert(loc=0, column='Modalities', value='T1ce, T1, T2')
df

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"T1ce, T1, T2",0.441548,0.538517,0.334994,0.260693,0.604209

In [15]:
df2 = pd.read_csv('Logs/testing/3D_U_net_flair_t1ce_t2.log')
df2 = df2[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df2 = pd.DataFrame(df2.mean().to_dict(),index=[df.index.values[-1]])
df2.insert(loc=0, column='Modalities', value='flair, T1ce, T2')
df2

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T2",0.540739,0.66607,0.579609,0.342992,0.526904

In [16]:
df3 = pd.read_csv('Logs/testing/3D_U_net_flair_t1ce_t1.log')
df3 = df3[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df3 = pd.DataFrame(df3.mean().to_dict(),index=[df.index.values[-1]])
df3.insert(loc=0, column='Modalities', value='flair, T1ce, T1')
df3

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T1",0.319418,0.226711,0.189256,0.108176,0.390469

In [17]:
df4 = pd.read_csv('Logs/testing/3D_U_net_flair_t2_t1.log')
df4 = df4[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df4 = pd.DataFrame(df4.mean().to_dict(),index=[df.index.values[-1]])
df4.insert(loc=0, column='Modalities', value='flair, T1, T2')
df4

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1, T2",0.454691,0.5991,0.27364,0.314165,0.5098

In [18]:
df5 = pd.read_csv('Logs/testing/3D_U_net_4ch.log')
df5 = df5[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u_1']]
df5 = df5.rename(columns={'mean_io_u_1': 'mean_io_u'})
df5 = pd.DataFrame(df5.mean().to_dict(),index=[df.index.values[-1]])
df5.insert(loc=0, column='Modalities', value='flair, T1ce, T1, T2')
df5

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T1, T2",0.46414,0.704352,0.289565,0.22285,0.536419

In [19]:
test_df = pd.concat([df, df2, df3, df4, df5])
test_df.sort_values(by=['dice_coef'], ascending=False, inplace=True)
test_df

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T2",0.540739,0.666070,0.579609,0.342992,0.526904
35,"flair, T1ce, T1, T2",0.464140,0.704352,0.289565,0.222850,0.536419
35,"flair, T1, T2",0.454691,0.599100,0.273640,0.314165,0.509800
35,"T1ce, T1, T2",0.441548,0.538517,0.334994,0.260693,0.604209
35,"flair, T1ce, T1",0.319418,0.226711,0.189256,0.108176,0.390469

### Validation subset

In [22]:
df6 = pd.read_csv('Logs/validation/3D_U_net_4ch.log')
df6 = df6[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u_1']]
df6 = df6.rename(columns={'mean_io_u_1': 'mean_io_u'})
df6 = pd.DataFrame(df6.mean().to_dict(),index=[df.index.values[-1]])
df6.insert(loc=0, column='Modalities', value='flair, T1ce, T1, T2')
df6

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T1, T2",0.432859,0.573087,0.276937,0.218319,0.558685

In [23]:
df7 = pd.read_csv('Logs/validation/3D_U_net_flair_t1ce_t1.log')
df7 = df7[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df7 = pd.DataFrame(df7.mean().to_dict(),index=[df.index.values[-1]])
df7.insert(loc=0, column='Modalities', value='flair, T1ce, T1')
df7

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T1",0.313048,0.233789,0.170865,0.110565,0.391855

In [24]:
df8 = pd.read_csv('Logs/validation/3D_U_net_flair_t1ce_t2.log')
df8 = df8[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df8 = pd.DataFrame(df8.mean().to_dict(),index=[df.index.values[-1]])
df8.insert(loc=0, column='Modalities', value='flair, T1ce, T2')
df8

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T2",0.507536,0.654166,0.499891,0.284614,0.535756

In [25]:
df9 = pd.read_csv('Logs/validation/3D_U_net_t1ce_t2_t1.log')
df9 = df9[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df9 = pd.DataFrame(df9.mean().to_dict(),index=[df.index.values[-1]])
df9.insert(loc=0, column='Modalities', value='T1ce, T1, T2')
df9

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"T1ce, T1, T2",0.433346,0.525512,0.333648,0.24412,0.597154

In [26]:
df10 = pd.read_csv('Logs/validation/3D_U_net_flair_t2_t1.log')
df10 = df10[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df10 = pd.DataFrame(df10.mean().to_dict(),index=[df.index.values[-1]])
df10.insert(loc=0, column='Modalities', value='flair, T1, T2')
df10

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1, T2",0.441267,0.545357,0.267143,0.289873,0.524942

In [27]:
valid_df = pd.concat([df6, df7, df8, df9, df10])
valid_df.sort_values(by=['dice_coef'], ascending=False, inplace=True)
valid_df

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T2",0.507536,0.654166,0.499891,0.284614,0.535756
35,"flair, T1, T2",0.441267,0.545357,0.267143,0.289873,0.524942
35,"T1ce, T1, T2",0.433346,0.525512,0.333648,0.244120,0.597154
35,"flair, T1ce, T1, T2",0.432859,0.573087,0.276937,0.218319,0.558685
35,"flair, T1ce, T1",0.313048,0.233789,0.170865,0.110565,0.391855

In [28]:
concated = pd.concat([test_df, valid_df])
print(concated.round(decimals=4).to_latex(index=False))

\begin{tabular}{lrrrrr}
\toprule
         Modalities &  dice\_coef &  dice\_coef\_edema &  dice\_coef\_enhancing &  dice\_coef\_necrotic &  mean\_io\_u \\
\midrule
    flair, T1ce, T2 &     0.5407 &           0.6661 &               0.5796 &              0.3430 &     0.5269 \\
flair, T1ce, T1, T2 &     0.4641 &           0.7044 &               0.2896 &              0.2228 &     0.5364 \\
      flair, T1, T2 &     0.4547 &           0.5991 &               0.2736 &              0.3142 &     0.5098 \\
       T1ce, T1, T2 &     0.4415 &           0.5385 &               0.3350 &              0.2607 &     0.6042 \\
    flair, T1ce, T1 &     0.3194 &           0.2267 &               0.1893 &              0.1082 &     0.3905 \\
    flair, T1ce, T2 &     0.5075 &           0.6542 &               0.4999 &              0.2846 &     0.5358 \\
      flair, T1, T2 &     0.4413 &           0.5454 &               0.2671 &              0.2899 &     0.5249 \\
       T1ce, T1, T2 &     0.4333 &           0.5255 &               0.3336 &              0.2441 &     0.5972 \\
flair, T1ce, T1, T2 &     0.4329 &           0.5731 &               0.2769 &              0.2183 &     0.5587 \\
    flair, T1ce, T1 &     0.3130 &           0.2338 &               0.1709 &              0.1106 &     0.3919 \\
\bottomrule
\end{tabular}

C:\Users\VegardEikenes\AppData\Local\Temp\ipykernel_17440\3326558337.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(concated.round(decimals=4).to_latex(index=False))

In [ ]:
concated = pd.concat([test_df, valid_df])
print(concated.round(decimals=4).to_latex(index=False))