In [1]:
import pandas as pd

### Testing subset

In [12]:
df = pd.read_csv('Logs/testing/2D_U_net_t1ce_t1_t2.log')
df = df[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df = pd.DataFrame(df.mean().to_dict(),index=[df.index.values[-1]])
df.insert(loc=0, column='Modalities', value='T1ce, T1, T2')
df

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"T1ce, T1, T2",0.573528,0.67883,0.671788,0.46453,0.667528

In [13]:
df2 = pd.read_csv('Logs/testing/2D_U_net_flair_t1ce_t2.log')
df2 = df2[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df2 = pd.DataFrame(df2.mean().to_dict(),index=[df.index.values[-1]])
df2.insert(loc=0, column='Modalities', value='flair, T1ce, T2')
df2

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T2",0.652161,0.791219,0.753609,0.581129,0.780474

In [14]:
df3 = pd.read_csv('Logs/testing/2D_U_net_flair_t1ce_t1.log')
df3 = df3[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df3 = pd.DataFrame(df3.mean().to_dict(),index=[df.index.values[-1]])
df3.insert(loc=0, column='Modalities', value='flair, T1ce, T1')
df3

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T1",0.635274,0.747193,0.764255,0.576376,0.603264

In [15]:
df4 = pd.read_csv('Logs/testing/2D_U_net_flair_t1_t2.log')
df4 = df4[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df4 = pd.DataFrame(df4.mean().to_dict(),index=[df.index.values[-1]])
df4.insert(loc=0, column='Modalities', value='flair, T1, T2')
df4

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1, T2",0.470201,0.692284,0.344624,0.280474,0.78652

In [2]:
df5 = pd.read_csv('Logs/testing/2D_U_net_4ch.log')
df5 = df5[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df5 = pd.DataFrame(df5.mean().to_dict(),index=[df5.index.values[-1]])
df5.insert(loc=0, column='Modalities', value='flair, T1ce, T1, T2')
df5

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T1, T2",0.561791,0.696282,0.621676,0.47053,0.806074

In [25]:
test_df = pd.concat([df, df2, df3, df4, df5])
test_df.sort_values(by=['dice_coef'], ascending=False, inplace=True)
test_df

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T2",0.652161,0.791219,0.753609,0.581129,0.780474
35,"flair, T1ce, T1",0.635274,0.747193,0.764255,0.576376,0.603264
35,"T1ce, T1, T2",0.573528,0.678830,0.671788,0.464530,0.667528
35,"flair, T1ce, T1, T2",0.561791,0.696282,0.621676,0.470530,0.806074
35,"flair, T1, T2",0.470201,0.692284,0.344624,0.280474,0.786520

### Validation subset

In [32]:
df6 = pd.read_csv('Logs/validation/2D_U_net_4ch.log')
df6 = df6[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df6 = pd.DataFrame(df6.mean().to_dict(),index=[df.index.values[-1]])
df6.insert(loc=0, column='Modalities', value='flair, T1ce, T1, T2')
df6

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T1, T2",0.540295,0.706268,0.624988,0.344445,0.809583

In [33]:
df7 = pd.read_csv('Logs/validation/2D_U_net_flair_t1ce_t1.log')
df7 = df7[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df7 = pd.DataFrame(df7.mean().to_dict(),index=[df.index.values[-1]])
df7.insert(loc=0, column='Modalities', value='flair, T1ce, T1')
df7

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T1",0.5529,0.632786,0.581841,0.451666,0.592999

In [34]:
df8 = pd.read_csv('Logs/validation/2D_U_net_flair_t1ce_t2.log')
df8 = df8[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df8 = pd.DataFrame(df8.mean().to_dict(),index=[df.index.values[-1]])
df8.insert(loc=0, column='Modalities', value='flair, T1ce, T2')
df8

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T2",0.588444,0.715345,0.643784,0.484155,0.785045

In [35]:
df9 = pd.read_csv('Logs/validation/2D_U_net_t1ce_t1_t2.log')
df9 = df9[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df9 = pd.DataFrame(df9.mean().to_dict(),index=[df.index.values[-1]])
df9.insert(loc=0, column='Modalities', value='T1ce, T1, T2')
df9

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"T1ce, T1, T2",0.55119,0.65363,0.618653,0.4256,0.666595

In [36]:
df10 = pd.read_csv('Logs/validation/2D_U_net_flair_t1_t2.log')
df10 = df10[['dice_coef', 'dice_coef_edema', 'dice_coef_enhancing', 'dice_coef_necrotic', 'mean_io_u']]
df10 = pd.DataFrame(df10.mean().to_dict(),index=[df.index.values[-1]])
df10.insert(loc=0, column='Modalities', value='flair, T1, T2')
df10

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1, T2",0.45127,0.638922,0.335237,0.273931,0.778284

In [37]:
valid_df = pd.concat([df6, df7, df8, df9, df10])
valid_df.sort_values(by=['dice_coef'], ascending=False, inplace=True)
valid_df

,Modalities,dice_coef,dice_coef_edema,dice_coef_enhancing,dice_coef_necrotic,mean_io_u
35,"flair, T1ce, T2",0.588444,0.715345,0.643784,0.484155,0.785045
35,"flair, T1ce, T1",0.552900,0.632786,0.581841,0.451666,0.592999
35,"T1ce, T1, T2",0.551190,0.653630,0.618653,0.425600,0.666595
35,"flair, T1ce, T1, T2",0.540295,0.706268,0.624988,0.344445,0.809583
35,"flair, T1, T2",0.451270,0.638922,0.335237,0.273931,0.778284

In [3]:
# concated = pd.concat([test_df, valid_df])
print(df5.round(decimals=4).to_latex(index=False))

\begin{tabular}{lrrrrr}
\toprule
         Modalities &  dice\_coef &  dice\_coef\_edema &  dice\_coef\_enhancing &  dice\_coef\_necrotic &  mean\_io\_u \\
\midrule
flair, T1ce, T1, T2 &     0.5618 &           0.6963 &               0.6217 &              0.4705 &     0.8061 \\
\bottomrule
\end{tabular}

C:\Users\VegardEikenes\AppData\Local\Temp\ipykernel_22592\3175879319.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df5.round(decimals=4).to_latex(index=False))